{% extends "base.html" %}

{% block title %}发表文章{% endblock %}

{% block content %}
    <style>
        .edit-result-box{
            height: 600px;
            width: 100%;
        }
        #result{
            border: darkgrey 1px solid;
            overflow-y: auto;
        }
        .row{
            margin-bottom: 10px;
        }
        .xz-box{
            display: none;
        }
        ._btn-size{
            height: 40px;
            font-size: 15px;
        }
        ._input-size{
            height: 40px;
            font-size: 15px;
        }
        ._span-style{
            height: 40px;
            background: #5cb85c;
            color: white;
            padding: 12px 0 0 30px;
            font-size: 15px;
        }
        ._border-raduis-style-left{
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        ._border-raduis-style-left-none{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        ._btn-width{
            width: 120px;
        }
        #selection-box{
            height: 300px;
            overflow-y: auto;
        }
    </style>

    {% load static %}
    <div class="xz-box">
        <img id="xuanzhuan" src="{% static 'images/xuanzhuan.png'%}" height="50" width="50">
        <span>上传中,请稍等。。。</span>
    </div>

    <!-- 内容 -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon _input-size" style="padding: 0; border: none">
                        <div class="_span-style _border-raduis-style-left _btn-width" style="padding-left: 10px">文章标题  :</div>
                    </span>
                    <input type="text" id="input-article-name" class="form-control _input-size" placeholder="请输入文章标题">
                </div>
            </div>
            <div class="col-md-6 box-sort">
                <div class="input-group">
                    <span class="input-group-addon _input-size" style="padding: 0; border: none">
                        <div class="_span-style _border-raduis-style-left _btn-width" style="padding-left: 10px">文章类别 :</div>
                    </span>
                    <input type="text" id="input-sort" class="form-control _input-size" placeholder="请在右侧选择" disabled="disabled">
                    <span class="input-group-addon _input-size" style="padding: 0; border: none">
                        <div class="btn-group">
                            <button type="button" id="btn-sort" class="btn btn-info dropdown-toggle _btn-size _border-raduis-style-left-none _btn-width" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                请选择... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="selection-box">
                                <li class="dropdown-header">技术教程：</li>
                                <li role="separator" class="divider"></li>
                                <li class="on_click"><a href="#">Python</a></li>
                                <li class="on_click"><a href="#">Java</a></li>
                                <li class="on_click"><a href="#">Django</a></li>
                                <li class="on_click"><a href="#">Ansible</a></li>
                                <li class="on_click"><a href="#">Drone</a></li>
                                <li class="on_click"><a href="#">Docker</a></li>
                                <li class="on_click"><a href="#">Git</a></li>
                                <li class="on_click"><a href="#">Ngrok</a></li>
                                <li class="on_click"><a href="#">其它教程</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">笔记专区：</li>
                                <li role="separator" class="divider"></li>
                                <li class="on_click"><a href="#">生活笔记</a></li>
                                <li class="on_click"><a href="#">学习笔记</a></li>
                                <li class="on_click"><a href="#">其它笔记</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">问题总结：</li>
                                <li role="separator" class="divider"></li>
                                <li class="on_click"><a href="#">Python相关</a></li>
                                <li class="on_click"><a href="#">Java相关</a></li>
                                <li class="on_click"><a href="#">Linux相关</a></li>
                                <li class="on_click"><a href="#">Git相关</a></li>
                                <li class="on_click"><a href="#">其它问题</a></li>
                            </ul>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 box-edit-btn" style="display: none">
                <button id="btn-edit" class="btn btn-warning _btn-width" style="margin: 20px 0 5px 0; height: 40px; font-size: 15px;">文章编辑</button>
                <button id="btn-show" class="btn btn-warning _btn-width" style="margin: 20px 0 5px 0; height: 40px; font-size: 15px; float: right;">文章预览</button>
            </div>
            <div class="col-md-6" id="edit_box">
                <div class="_span-style _btn-width" style="border-radius: 5px; margin: 20px 0 5px 0; background: #f0ad4e">文章编辑 :</div>
                <textarea id="content" class="edit-result-box" onkeyup="compile()" style="resize:none"></textarea>
            </div>
            <div class="col-md-6" id="show_box">
                <div class="_span-style _btn-width" style="border-radius: 5px; margin: 20px 0 5px 0; background: #f0ad4e">文章预览 :</div>
                <div id="result" class="edit-result-box"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button id="upload" class="btn btn-info" style="width: 100px; height: 40px; font-size: 20px; float: right;">提交</button>
            </div>
        </div>
    </div>

     {% load static %}
     <!-- jQuery -->
     <!--<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js'%}"></script>-->
     <!-- 文件拖拽上传插件 -->
     <script type="text/javascript" src="{% static 'js/dropzone.js'%}"></script>
     <!-- Markdown插件 -->
     <script type="text/javascript" src="{% static 'js/showdown.min.js'%}"></script>
    <!-- 图片旋转插件 -->
    <script type="text/javascript" src="{% static 'js/jquery.rotate.min.js'%}"></script>

     <script>
         // 文章类型选择功能
         $('#selection-box .on_click').click(function () {

             $('#input-sort').attr("value", $(this).text());
             $('#btn-sort').html($(this).text() + " <span class='caret'></span>");
         });

         // 格式化字符串format函数
         String.prototype.format = function(args) {
            var result = this;
            if (arguments.length > 0) {
                if (arguments.length == 1 && typeof (args) == "object") {
                    for (var key in args) {
                        if(args[key]!=undefined){
                            var reg = new RegExp("({" + key + "})", "g");
                            result = result.replace(reg, args[key]);
                        }
                    }
                }
                else {
                    for (var i = 0; i < arguments.length; i++) {
                        if (arguments[i] != undefined) {
                            var reg= new RegExp("({)" + i + "(})", "g");
                            result = result.replace(reg, arguments[i]);
                        }
                    }
                }
            }
            return result;
         };

         //markdown
         function compile(){
            var text = $('#content').val();
            var converter = new showdown.Converter();
            var html = converter.makeHtml(text);
            $('#result').html(html);

        }

        // 图片上传等待效果函数
         var upload_image = function(){
             var t1 = $(window).height();
             var t2 = $(window).width();
             var t3 = $(document).scrollTop();

             $('.xz-box').css({
                 "position": "absolute",
                 "height": t1 + t3 + 500,
                 "width": t2 + 65,
                 "left": "-65px",
                 "top": "-155px",
                 "background-color": "rgba(192, 192, 192 , 0.6)",
                 "padding-top": (t1-50) / 2 + t3 + 130,
                 "padding-left": (t2-50) / 2 + 65,
                 "z-index": 100,
             });
             $('.xz-box span').css({
                 "position": "absolute",
                 "left": t2 / 2 - 60 + 25,
                 "top": t1 / 2 + 30 + t3 + 140,
                 "font-size": "30px",
                 "color": "darkorange",
             });

             var rotation2 = function(){
                 $('#xuanzhuan').rotate({
                    angle: 0,
                    animateTo: 360,
                    callback: rotation2,
                    easing: function(x,t,b,c,d){
                        return c*(t/d)+b;
                    }
                 });
             };
             rotation2();
         };

        // 文章上传
        $('#upload').click(function () {
            // 获取文章标题
            var name = $('#input-article-name').val();
            // 获取文章内容并转换为markdown
            var text = $('#content').val();
            var converter = new showdown.Converter();
            var html = converter.makeHtml(text);
            var data = {
                name: name,
                content: html,
                auth_name: "{{ request.session.name }}",
                category: $('#input-sort').attr("value"),

            };
            $.ajax({
                url:"{% url 'save_article' %}",
                type:"POST",
                data:JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success:function (data) {
                    if (data["result"] == 'ok'){
                        alert("上传成功！");
                        window.location.href = "/blog/article/{0}/{1}/".format(data.uuid, 1);
                    }else{
                        alert('上传失败！');
                    }

                },
                error:function () {
                    alert('服务器出错！');
                }

            })
        });

        // 图片拖拽上传
        $('body').dropzone({
            url: "{% url 'upload_image' %}",
            paramName: "image",
            clickable: false,
            init: function() {
                // 拖拽图片触发的事件
                this.on("addedfile", function (file) {
                    // 禁用滚动条
                    $('body').css("overflow", "hidden");
                    // 设置等待上传效果
                    upload_image();

                    // 将拖拽上传图片预览设为不可见
                    $('.dz-preview').css("display","none");
                    // 将等待上传效果设为可见
                    $('.xz-box').css("display","inherit");
                });
                // 图片上传成功触发的事件
                this.on("success", function(file, data) {
                    var image_name = file.name.split('.')[0];
                    if(data['result'] == 'ok'){
                        var image_str = "![{0}]({1} ={2}x{3})";
                        // 取出markdown编辑框已输入内容
                        var content = $('#content').val();

                        var image_width = "100%";

                        // 判断已取出的内容是否为空
                        if(content.length == 0){
                            content = image_str.format(image_name, data['path'], image_width, "*");
                        }else{
                            // 判断已取出的内容最后一个字符是否为换行符
                            if(content.charAt(content.length - 1) == "\n"){
                                content += ('\n' + image_str.format(image_name, data['path'], image_width, "*"));
                            }else{
                                content += ('\n\n' + image_str.format(image_name, data['path'], image_width, "*"));
                            }
                        }

                        // 重新赋值编辑框内容
                        $('#content').val(content);
                        // 移除拖拽上传插件预览图片
                        $('.dz-preview').remove();
                        // 将上传等待效果设置为不可见
                        $('.xz-box').css("display","none");
                        // 启用滚动条
                        $('body').css("overflow", "auto");

                        // 刷新展示框内容
                        var text = $('#content').val();
                        var converter = new showdown.Converter();
                        var html = converter.makeHtml(text);
                        $('#result').html(html);
                    }
                });
            }
        });

        // 小页面编辑预览框切换功能
        $('#btn-edit').click(function () {
            if($('#edit_box').css('display') == "none"){
                $('#show_box').hide();
                $('#edit_box').show();
            }
        });
        $('#btn-show').click(function () {
            debugger
            if ($('#show_box').css('display') == "none") {
                $('#edit_box').hide();
                $('#show_box').show();
                $('#show_box #result').show();
            }
        });
        // 适配页面大小
         var change_edit_page = function() {
             var _width = $(window).width();
             if(_width <= 991){
                $('.box-sort').css("margin-top", "30px");
                $('.container-fluid').css("padding", "0 5px");
                $('.box-edit-btn').show();
                $('#edit_box div').hide();
                $('#show_box div').hide();

                if($('#show_box').css("display") != "none" && $('#edit_box').css("display") == "none"){
                    $('#edit_box').hide();
                    $('#show_box').show();
                    $('#show_box #result').show();
                }else{
                    $('#edit_box').show();
                    $('#show_box').hide();
                }
             }else{
                $('.box-sort').css("margin-top", "");
                $('.container-fluid').css("padding", "");
                $('.box-edit-btn').hide();
                $('#show_box').show();
                $('#show_box div').show();
                $('#edit_box').show();
                $('#edit_box div').show();
             }
             if(_width <= 675){
                 $('._btn-width').css("width", "100");
             }else{
                 $('._btn-width').css("width", "120");
             }
         };

         // 网页加载完成时
         $(window).load(function () {
             change_edit_page();
         });
         // 窗口大小改变时
         $(window).resize(function () {
             change_edit_page();
         });
    </script>
{% endblock %}